---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import styles from './../styles/style.module.scss';
import { Spa } from "astro-spa";

import Card from './../components/Card'

---


<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
		
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
	html {
      font-family: monospace;
      font-family: 'Inconsolata';
      background:#fff1e5;
    }
    ul:not([class]) {
        list-style-type: none;
        li {
          position:relative;
                  &.active a:before {
              content: ">";
              position: absolute;
              right:100%;
              font-weight: 700;
              margin-right: 0.25rem;
            }
          a {
                font-size: 1.65rem;
                line-height: 2rem;
          }
        }
    }
    a {
		color:#0d7680;
		text-decoration: none;

		line-height: 1rem;
		word-spacing: 1px;
		font-weight: 700;
        

    }

    li a:hover,p a:hover,div>a:hover, a.active{
   		border-bottom: 2px solid #0d7680;
    }
    p {
		line-height: 1.4rem;
		margin-bottom: 15px;
		word-break: break-word;
    }
    header {
    	padding: 1rem 0;
    }
	.horizontal {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
</style>

	</head>
	<body>
		<Spa containerSelector="#yes" progressBar={false} defaultAnimation={false}/>
		<a href="/" class={styles.profile}><img src="/profile.jpg" alt=""></a>

<div id="yes">

	<Header title={SITE_TITLE} description={SITE_DESCRIPTION} styles={styles}/>

	<a href="/" >home</a>
	<a href="/work" >work</a>
	<a href="/contact" >contact</a>
	<h1>
		cool
		<slot></slot>
	</h1>
</div>

		<!-- <div class={styles.container}>
			
<Card name="toby">
	Wheter  website or admin UI or some API work. Let me know what you need help with. Please
	<a href="contact">get in touch</a> or <a href="work">view my work</a>
			<Header title={SITE_TITLE} description={SITE_DESCRIPTION} styles={styles}/>
			<main>
				<slot />
			</main>
	</Card>

		</div> -->
	</body>
</html>
